@page
@model IBCS_Core_Web_Portal.Pages.Tickets.ComplaintManagementModel
@{
}
<link href="~/assets/vendor/font-awsome/css/all.min.css" rel="stylesheet" />
<link href="~/assets/vendor/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/assets/css/proximanova.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-datepicker/datepicker.css" rel="stylesheet">
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<style>
    .hide {
        display: none;
    }

    a.ui-datepicker-next.ui-corner-all {
        margin-left: 70px;
    }

    div#ui-datepicker-div {
        background: white;
        padding: 0px 50px 0px 50px;
    }

    input#ticket_from_date {
        background: beige;
        cursor:pointer;
    }

    input#ticket_to_date {
        background: beige;
        cursor: pointer;
    }

    i.fa-solid.fa-calendar.cal_ {
        float: right;
        margin-top: -25px;
        margin-right: 10px;
        font-weight: 400;
    }
</style>
<div class="g-pa-20">
    <div id="div_msg" class="card bg-danger text-white shadow hide">
        <div class="card-body">
            <label id="msg"></label>
        </div>
    </div>
    <section class="section1">
        <div class="g-hidden-sm-down header-title g-pa-20 text-center">
            <ul class="u-list-inline g-color-gray-dark-v6">
                <li class="list-inline-item g-mr-10">
                    <h4 class="mb-0 text-white">Ticket List</h4>
                </li>
            </ul>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="col-12 text-right mt-3 mt-lg-auto">
                    <button type="button" class="btn btn-danger new_ticket"><i class="fa-solid fa-plus"></i> New Ticket</button>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 g-mb-10">
                                    <label for="ticket_from_date">From Date:</label>
                                    @* <input type="date" class="form-control" id="ticket_from_date" name="ticket_from_date"> *@
                                    <input id="ticket_from_date" type="text" value="@Model.dtfrom_" required="required" class="form-control" tabindex="3" data-date-format="dd/mm/yyyy" readonly  />
                                    <span><i class="fa-solid fa-calendar cal_"></i></span>
                                </div>

                                <div class="col-sm-6 col-lg-3 g-mb-10">
                                    <label for="ticket_to_date">To Date:</label>
                                    @* <input type="date" class="form-control" id="ticket_to_date" name="ticket_to_date"> *@
                                    <input id="ticket_to_date" type="text" value="@Model.dtto_" required="required" class="form-control" tabindex="3" data-date-format="dd/mm/yyyy" readonly  />
                                    <span><i class="fa-solid fa-calendar cal_"></i></span>
                                </div>
                                
                                <div class="col-sm-6 col-lg-3 g-mb-10">
                                    <label for="ticket_status">Status:</label>
                                    <select class="custom-select" id="ticket_status" onload="Disp_selected()" onchange="GetSelected_()">
                                        @if(Model.tick_status != null)
                                        {
                                            <option selected>@Model.tick_status</option>
                                            if(Model.tick_status == "Open")
                                            {
                                                <option>Closed</option>
                                            }
                                            else
                                            {
                                                <option>Open</option>
                                            }
                                        }
                                        else
                                        {
                                        <option selected>Please Select</option>
                                            <option>Closed</option>
                                            <option>Open</option>
                                        }
                                        
                                    </select>
                                </div>

                                <div class="col-sm-6 col-lg-3 g-mb-10 mt-lg-auto">
                                    <button  class="btn btn-secondary" asp-page-handler="Search_Ticket" onclick="    return validateSearchForm()"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                                    <button type="submit" class="btn btn-secondary" asp-page-handler="Button5_Click"><i class="fa-solid fa-eye"></i> Show All</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table u-table--v3--bordered g-color-black text-center table-striped table-bordered" id="sbkcp_transfer_1">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Ticket No</th>
                                <th>Date Opened</th>
                                <th>Role</th>
                                <th>Complaint Title</th>
                                <th>Clearing Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Alltickets != null)
                            {
                                @foreach (var item in Model.Alltickets)
                                {
                                    <tr>
                                        <td>@item.status</td>
                                        <td id="ticketno">@item.ticketno</td>
                                        <td>@item.complaintdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.roleofcomplaint</td>
                                        <td>@item.subject</td>
                                        <td>@item.type</td>
                                        <td><button type="button" class="btn btn-secondary details_btn_1 details_btn" onclick="GetTck(@item.ticketno)"><i class="fa-solid fa-eye"></i> Details</button></td>
                                    </tr>
                                }
                            }
                            @*  <tr>
                            <td>Open</td>
                            <td>3</td>
                            <td>23/08/2023</td>
                            <td>Sender</td>
                            <td>Fake instrument(s)</td>
                            <td>0002 - Normal Clearing</td>
                            <td><button type="button" class="btn btn-secondary details_btn_1 details_btn"><i class="fa-solid fa-eye"></i> Details</button></td>
                            </tr>
                            <tr>
                            <td>Open</td>
                            <td>2</td>
                            <td>22/08/2023</td>
                            <td>Sender</td>
                            <td>Instrument(s)/Bag being reported missing/lost</td>
                            <td>0004 - Normal Return</td>
                            <td><button type="button" class="btn btn-secondary details_btn_1 details_btn"><i class="fa-solid fa-eye"></i> Details</button></td>
                            </tr>
                            <tr>
                            <td>Open</td>
                            <td>1</td>
                            <td>15/08/2023</td>
                            <td>Sender</td>
                            <td>Instrument(s)/Bag being reported missing/lost</td>
                            <td>0005 - Sameday Clearing</td>
                            <td><button type="button" class="btn btn-secondary details_btn_1 details_btn"><i class="fa-solid fa-eye"></i> Details</button></td>
                            </tr> *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="g-hidden-sm-down header-title g-pa-20 text-center">
            <ul class="u-list-inline g-color-gray-dark-v6">
                <li class="list-inline-item g-mr-10">
                    <h4 class="mb-0 text-white">New Complain Ticket</h4>
                </li>
            </ul>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="col-12 text-right mt-3 mt-lg-auto">
                    <button type="button" class="btn btn-danger back_btn_1"><i class="fa-solid fa-chevron-left"></i> Back</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_name">Name: <span class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control" value="@Model.UserName" id="ticket_name" name="ticket_name" disabled required>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_email">Your Email:</label>
                                <input type="email" class="form-control" value="@Model.Email" id="ticket_email" name="ticket_email" disabled>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_bk_code">Complainee Bank Code: <span class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control" value="@Model.Complainee_Bankcode" id="ticket_bk_code" name="ticket_bk_code" disabled required>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_br_code">Complainee Branch Code: <span class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control" value="@Model.Complainee_Branchcode" id="ticket_br_code" name="ticket_br_code" disabled required>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_mb_no">Mobile No:</label>
                                <input type="tel" class="form-control" id="ticket_mb_no" name="ticket_mb_no" onkeypress="return onlyNumbers(this)">
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cycles">Clearing Cycles: <span class="text-danger font-weight-bold">*</span></label>
                                <select class="custom-select" id="ticket_cycles" onchange="GetSelected_Cycle()" required>
                                    <option selected>Please Select</option>
                                    <option>002 - Normal Clearing</option>
                                    <option>004 - Normal Return</option>
                                    <option>005 - Sameday Clearing</option>
                                    <option>007 - Sameday Return</option>
                                    <option>001 - Intercity Clearing</option>
                                    <option>003 - Intercity Return</option>
                                    <option>020 - Dollar Clearing</option>
                                    <option>022 - Dollar Return</option>
                                    <option>031 - Special Clearing One</option>
                                    <option>041 - Special Return One</option>
                                </select>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cl_date">Clearing Date: </label>
                                <input type="date" class="form-control" id="ticket_cl_date" name="ticket_cl_date" onchange="GetSelected_Date()" required>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_rc_city">Recipent City: <span class="text-danger font-weight-bold">*</span></label>
                                <select class="custom-select" id="ticket_rc_city" onchange="GetSelected_City()" required>
                                    <option selected>Please Select</option>
                                    @if (@Model.city != null)
                                    {
                                        @foreach (var item in @Model.city)
                                        {
                                            <option value="@item.cityinfo">@item.cityinfo</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_rc_bkc">Recipent Bank Code: <span class="text-danger font-weight-bold">*</span></label>
                                <select class="custom-select" id="ticket_rc_bkc" onchange="GetSelected_BankCode()" required>
                                    <option selected>Please Select</option>
                                    @if (@Model.bankCode != null)
                                    {
                                        @foreach (var item in @Model.bankCode)
                                        {
                                            <option value="@item.code">@item.code</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_rc_brc">Recipent Branch Code: <span class="text-danger font-weight-bold">*</span></label>
                                <select class="custom-select" id="ticket_rc_brc" onchange="GetSelected_Branchcode()" disabled required>
                                    @* <option selected>Please Select</option>
                                    <option>001</option>
                                    <option>002</option> *@
                                </select>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_chq_no">Cheque No:</label>
                                <input type="text" class="form-control" id="ticket_chq_no" name="ticket_chq_no" onkeypress="return onlyNumbers(this)" onkeyup="GetSelected_ChequeNumber()" maxlength="10" autocomplete="off">
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_amount">Amount:</label>
                                <input type="text" class="form-control" id="ticket_amount" name="ticket_amount" onkeypress="return onlyDotsAndNumbers(this,event)" onkeyup="GetSelected_Amount()" maxlength="16" autocomplete="off">
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_subject">Subject of Complaint: <span class="text-danger font-weight-bold">*</span></label>
                                <select id="ticket_subject" class="custom-select" onchange="GetSelected_Complaint()" required>
                                    <option selected>Please Select</option>
                                    <option>Instrument(s)/Bag Being Reported Missing/Lost</option>
                                    <option>Instrument(s) Double Processed</option>
                                    <option>Instrument(s) Amount Posted Wrongly</option>
                                    <option>Instrument(s) Sent Unprocessed</option>
                                    <option>Outward Clearing Merged</option>
                                    <option>Instrument(s) Posted In Wrong Bank-Branch</option>
                                    <option>Returned Instrument(s) Processed Wrongly</option>
                                    <option>Instrument(s) Returned After Clearing Hours</option>
                                    <option>Fake Instrument(s) Being Reported</option>
                                </select>
                            </div>

                            <div class="col-sm-6 col-lg-6 g-mb-10">
                                <label for="ticket_details">Subject of Complaint: <span class="text-danger font-weight-bold">*</span></label>
                                <textarea id="ticket_details" class="form-control" rows="1" onkeyup="GetSelected_CompDetails()" required></textarea>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10 mt-lg-auto text-right">
                                <button type="button" class="btn btn-danger btn-submit" onclick="validateform()"><i class="fa-solid fa-arrow-right-from-arc"></i> Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section3">
        <div class="g-hidden-sm-down header-title g-pa-20 text-center">
            <ul class="u-list-inline g-color-gray-dark-v6">
                <li class="list-inline-item g-mr-10">
                    <h4 class="mb-0 text-white">Ticket Details</h4>
                </li>
            </ul>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="col-12 text-right mt-3 mt-lg-auto">
                    <button type="button" class="btn btn-danger back_btn_2"><i class="fa-solid fa-chevron-left"></i> Back</button>

                    <button id="Closebtn" type="button" class="btn btn-danger" onclick="BtnClose()"><i class="fa-solid fa-xmark"></i> Close Ticket</button>

                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_status">Ticket Status:</label>
                                <input type="text" class="form-control" id="ticket_statusD" name="ticket_status" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_date">Complaint Date:</label>
                                <input type="text" class="form-control" id="ticket_cm_dateD" name="ticket_cm_date" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_name">Complainee Name:</label>
                                <input type="text" class="form-control" id="ticket_cm_nameD" name="ticket_cm_name" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_email">Complainee Email:</label>
                                <input type="email" class="form-control" id="ticket_cm_emailD" name="ticket_cm_email" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_contact">Complainee Contact:</label>
                                <input type="tel" class="form-control" id="ticket_contactD" name="ticket_contact" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cl_type">Clearing Type:</label>
                                <input type="text" class="form-control" id="ticket_cl_typeD" name="ticket_cl_type" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_city">Recipent city:</label>
                                <input type="tel" class="form-control" id="ticket_cityD" name="ticket_city" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_subject">Subject of Complaint:</label>
                                <input type="text" class="form-control" id="ticket_cm_subjectD" name="ticket_cm_subject" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_pr_date">Process Date:</label>
                                <input type="text" class="form-control" id="ticket_pr_dateD" name="ticket_pr_date" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_bk">Complainee Bank: </label>
                                <input type="text" class="form-control" id="ticket_cm_bkD" name="ticket_cm_bk" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_cm_br">Complainee Branch:</label>
                                <input type="text" class="form-control" id="ticket_cm_brD" name="ticket_cm_br" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_rep_bk">Recipent Bank:</label>
                                <input type="text" class="form-control" id="ticket_rep_bkD" name="ticket_rep_bk" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_rep_br">Recipent Branch:</label>
                                <input type="text" class="form-control" id="ticket_rep_brD" name="ticket_rep_br" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_chqno">Cheque No:</label>
                                <input type="text" class="form-control" id="ticket_chqnoD" name="ticket_chqno" value="" readonly>
                            </div>

                            <div class="col-sm-6 col-lg-3 g-mb-10">
                                <label for="ticket_amt">Amount:</label>
                                <input type="text" class="form-control" id="ticket_amtD" name="ticket_amt" value="" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-12">
                <div class="g-hidden-sm-down header-title g-pa-20 text-center">
                    <ul id="cmt_ul" class="u-list-inline g-color-gray-dark-v6">
                        @* <li class="list-inline-item g-mr-10">
                        <h6 id="h6comt" class="mb-0 text-black"></h6>

                        </li> *@
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-6 col-lg-5 g-mb-10">
                <label for="ticket_com_name">Complainee Name:</label>
                <input type="text" class="form-control" id="ticket_com_nameD" name="ticket_com_name" value="" disabled>
            </div>
            <div class="col-sm-6 col-lg-5 g-mb-10">
                <label for="ticket_com_cmt">Comment:</label>
                <input type="text" class="form-control" id="ticket_com_cmt" name="ticket_com_cmt">
            </div>
            <div class="col-sm-6 col-lg-2 g-mb-10 mt-lg-auto">
                <button type="button" class="btn btn-danger btn-submit" onclick="btnSubmit()"><i class="fa-solid fa-arrow-right-from-arc"></i> Post Comment</button>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {
        $('#home_').removeClass('has-active');
        $('#comp_').addClass('active');
        $(".section2").hide();
        $(".section3").hide();
        $(".new_ticket").on("click", function () {
            $(".section2").show();
            $(".section1").hide();
            $(".section3").hide();
        });
        $(".back_btn_1").on("click", function () {
            $(".section1").show();
            $(".section2").hide();
            $(".section3").hide();
        });
        $(".details_btn").on("click", function () {

            $(".section3").show();
            $(".section1").hide();
            $(".section2").hide();
        });
        $(".back_btn_2").on("click", function () {
            $(".section1").show();
            $(".section2").hide();
            $(".section3").hide();
        });
    });
</script>

<script>
    function addComas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
    function validateSearchForm() {
        var dtFrom = document.getElementById("ticket_from_date").value;
        var dtTo = document.getElementById("ticket_to_date").value;
        var status = document.getElementById("ticket_status").value;

        if ((dtFrom == "" || dtTo == "") && status == "Please Select") {
            $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
            $("#msg").text("Please Select Search Filters");
            setTimeout(
                function () {
                    $('#div_msg').addClass("hide");
                }, 5000);
            return false;
        }
        else { 
        GetSelected_();
        return true;
        }
    };

    function onlyNumbers(evt) {
        var e = event || evt;
        var charCode = e.which || e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    };

    $(function () {
        $("#ticket_from_date").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
        })
    });
    $(function () {
        $("#ticket_to_date").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
        })
    });

    function GetSelected_() {

        var dtFrom = document.getElementById("ticket_from_date").value;
        var dtTo = document.getElementById("ticket_to_date").value;
        var status = document.querySelector('#ticket_status');

        var obj1 = { "dtFrom": dtFrom, "dtTo": dtTo, "status": status.value };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectValues',
            dataType: 'json',
            data: obj1
        });

    };
    @{var uid_ = Model.tick_status;}
    function Disp_selected() {
        // if (@Model.tick_status != null) {
             $('#ticket_status Option:selected').text(@Model.tick_status);
        // }
    }

    function GetTck(tck) {


        //DisplayComments();
        var button = document.getElementById("Closebtn");
        var obj1 = { "TicketNo": tck };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=TicketNo',
            dataType: 'json',
            data: obj1,
            success: function (data1) {

                if (data1 != null) {
                    var div1 = document.querySelector('#ticket_statusD');
                    var div2 = document.querySelector('#ticket_cm_dateD');
                    var div3 = document.querySelector('#ticket_cm_nameD');
                    var div4 = document.querySelector('#ticket_cm_emailD');
                    var div5 = document.querySelector('#ticket_contactD');
                    var div6 = document.querySelector('#ticket_cl_typeD');
                    var div7 = document.querySelector('#ticket_cityD');
                    var div8 = document.querySelector('#ticket_cm_subjectD');
                    var div9 = document.querySelector('#ticket_pr_dateD');
                    var div10 = document.querySelector('#ticket_cm_bkD');
                    var div11 = document.querySelector('#ticket_cm_brD');
                    var div12 = document.querySelector('#ticket_rep_bkD');
                    var div13 = document.querySelector('#ticket_rep_brD');
                    var div14 = document.querySelector('#ticket_chqnoD');
                    var div15 = document.querySelector('#ticket_amtD');
                    var div16 = document.querySelector('#ticket_com_nameD');

                    $.each(data1.value, function (id, elem) {
                        div1.value = elem.status;
                        div2.value = elem.date;
                        div3.value = elem.name;
                        div4.value = elem.email;
                        div5.value = elem.mobile;
                        div6.value = elem.type;
                        div7.value = elem.cityofincident;
                        div8.value = elem.subject;
                        div9.value = elem.processdate;
                        div10.value = String('000' + elem.sbankname).slice(-3);
                        div11.value = String('0000' + elem.sbankcode).slice(-4);
                        div12.value = elem.rBank;
                        div13.value = elem.rBranch;
                        div14.value = String('00000000' + elem.chqno).slice(-8);
                        div15.value = addComas(parseFloat(elem.amt).toFixed(2));
                        div16.value = elem.name;
                        if (elem.status == "CLOSED") {
                            button.disabled = true;
                        } else {
                            button.disabled = false;
                        }
                    });
                }
            }
        });
        DisplayComments();
    };
    function DisplayComments() {

        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=DisplayComments',
            dataType: 'json',
            success: function (data2) {
                if (data2 != null) {

                    var list = document.querySelector('#cmt_ul');

                    list.innerHTML = '';
                    $.each(data2.value, function (id, cmt) {
                        var newItem = document.createElement('li');
                        newItem.textContent = 'User: ' + cmt.name + '- Bank: ' + cmt.bankname + ' - ' + cmt.dated + ' - Comment: ' + cmt.commentDetails

                        $('#cmt_ul').append(newItem);

                    })
                }
            }
        });


    }
    function GetSelected_City() {

        var city = document.querySelector("#ticket_rc_city").value;
        var temp = "Please Select"

        var obj1 = { "City": city };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectCity',
            dataType: 'json',
            data: obj1,
            success: function (result) {
                $('#ticket_rc_brc').prop('disabled', false);
                $('#ticket_rc_brc').empty();
                $('#ticket_rc_brc').append('<option value=' + temp + '>' + temp + '</option>');
                $.each(result.value, function (id, br) {
                    $('#ticket_rc_brc').append('<option value=' + br.branchname + '>' + br.branchname + '</option>');

                });

            }
        });
    };
    function GetSelected_BankCode() {

        var BK = document.querySelector("#ticket_rc_bkc").value;
        var temp = "Please Select"

        var obj1 = { "BankCode": BK };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectBankcode',
            dataType: 'json',
            data: obj1,
            success: function (result) {
                $('#ticket_rc_brc').prop('disabled', false);
                $('#ticket_rc_brc').empty();
                $('#ticket_rc_brc').append('<option value=' + temp + '>' + temp + '</option>');
                $.each(result.value, function (id, br) {
                    $('#ticket_rc_brc').append('<option value=' + br.branchname + '>' + br.branchname + '</option>');

                });

            }


        });


    };
    function GetSelected_Branchcode() {

        var branch = document.querySelector("#ticket_rc_brc").value;

        var obj1 = { "BranchCode": branch };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectBranch',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_Cycle() {

        var cycle = document.querySelector("#ticket_cycles").value;

        var obj1 = { "DDL_Cycle": cycle };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectCycle',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_number() {

        var num = document.querySelector("#Mobnumber").value;

        var obj1 = { "Mobnumber": num };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectNumber',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_Date() {

        var date = document.querySelector("#ticket_cl_date").value;

        var obj1 = { "Date": date };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectDate',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_ChequeNumber() {

        var chq = document.querySelector("#ticket_chq_no").value;

        var obj1 = { "Chequenumber": chq };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectChq',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_Amount() {

        var amnt = document.querySelector("#ticket_amount").value;

        var obj1 = { "Amount": amnt };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectAmount',
            dataType: 'json',
            data: obj1
        });

    };
    function onlyDotsAndNumbers(txt, event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 46) {
            if (txt.value.indexOf(".") < 0)
                return true;
            else
                return false;
        }

        if (txt.value.indexOf(".") > 0) {
            var txtlen = txt.value.length;
            var dotpos = txt.value.indexOf(".");
            //Change the number here to allow more decimal points than 2
            if ((txtlen - dotpos) > 2)
                return false;
        }

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function GetSelected_Complaint() {

        var comp = document.querySelector("#ticket_subject").value;

        var obj1 = { "Complaint": comp };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectComplaint',
            dataType: 'json',
            data: obj1
        });

    };
    function GetSelected_CompDetails() {

        var comp = document.querySelector("#ticket_details").value;

        var obj1 = { "CompDetails": comp };
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=SelectCompDetails',
            dataType: 'json',
            data: obj1
        });

    };
    function validateform() {
        var clearingcycle = document.querySelector("#ticket_cycles").value;
        var recipientcity = document.querySelector("#ticket_rc_city").value;
        var recipientbankcode = document.querySelector("#ticket_rc_bkc").value;
        var recipientbranchcode = document.querySelector("#ticket_rc_brc").value;
        var subj = document.querySelector("#ticket_subject").value;
        var compDetails = document.querySelector("#ticket_details").value;

        if (clearingcycle == "Please Select" || recipientcity == "Please Select" || recipientbankcode == "Please Select" || recipientbranchcode == "Please Select" || subj == "Please Select" || compDetails == "") {
            
            $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
            $("#msg").text("Please fill the required fields");
            setTimeout(
                function () {
                    $('#div_msg').addClass("hide");
                }, 5000);
            return false;
        }
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=NewTicket',
            dataType: 'json',
            success: function (result) {
                if (result == "Success") {
                    $(".section2").hide();
                    $(".section3").hide();
                    $(".section1").show();
                    location.reload();
                    $("#div_msg").removeClass("hide").removeClass("bg-danger").addClass("show").addClass("bg-success");
                    $("#msg").text("Ticket Launched Successfully");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                }
                else if (result == "MFailed") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Mobile Number is Invalid!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                }
                else if (result == "CFailed") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Cheque Number is Invalid!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                }
                else if (result == "AFailed") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Amount is Invalid!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                }
                else if (result == "DFailed") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Details are Invalid!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                }
                else if (result == "exfailed") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Please enter valid details!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                } 
            }

        });

    }
    function BtnClose() {
        var button = document.getElementById("Closebtn");
        $.ajax({
            type: 'GET',
            url: '/Tickets/ComplaintManagement?handler=CloseTicket',
            success: function (cl) {
                if (cl == "Ticket Closed Successfully") {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text(cl);
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                    button.disabled = true;
                    location.reload();
                }
            }

        });
    }
    function btnSubmit() {
        var cmt = document.getElementById("ticket_com_cmt").value
        if (cmt != "") {
            var obj1 = { "comment": cmt };
            $.ajax({
                type: 'GET',
                url: '/Tickets/ComplaintManagement?handler=Comment',
                dataType: 'json',
                data: obj1,
                success: function (result) {
                    if (result == "OPEN") {
                        $.ajax({
                            type: 'GET',
                            url: '/Tickets/ComplaintManagement?handler=PostComment',
                            dataType: 'json',
                            data: obj1,
                            success: function (rs) {
                                $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                                $("#msg").text(rs);
                                setTimeout(
                                    function () {
                                        $('#div_msg').addClass("hide");
                                    }, 5000);
                                location.reload();

                            }
                        });
                    }
                    else {
                        $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                        $("#msg").text("Ticket is Closed");
                        setTimeout(
                            function () {
                                $('#div_msg').addClass("hide");
                            }, 5000);
                    }
                }
            });
        }
        else {
            $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
            $("#msg").text("Please Enter Comment");
            setTimeout(
                function () {
                    $('#div_msg').addClass("hide");
                }, 5000);
            var obj1 = { "comment": cmt };
            $.ajax({
                type: 'GET',
                url: '/Tickets/ComplaintManagement?handler=Comment',
                dataType: 'json',
                data: obj1
            });

        }
    }
</script>